<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443552526831-igqbt7q49k5ua6qfjdtjddoe4mebs35v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443552526831-igqbt7q49k5ua6qfjdtjddoe4mebs35v</string>
	<key>API_KEY</key>
	<string>AIzaSyDd_b_8I08iexXgKOxHQr5nUQzsQ3owGGY</string>
	<key>GCM_SENDER_ID</key>
	<string>443552526831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tahaquraishi.pullup</string>
	<key>PROJECT_ID</key>
	<string>pullup-5edde</string>
	<key>STORAGE_BUCKET</key>
	<string>pullup-5edde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443552526831:ios:138cf39b088897f6b4461a</string>
</dict>
</plist>